node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# ignore coverage reports
/coverage/
coverage/
.github/
.env*

# Playwright
/playwright/.auth/
# SonarQube
.scannerwork/

# k6 spike test reports
report-*.html